<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h1>About me</h1>
    <p class="info">I received my Bachelor's Degree (B.E.) in microelectronics and my Master’s Degree (M.E.) in microelectronics and
    solid-state electronics from the Shenyang University of Technology, China, in 2002 and 2005, respectively. After I
    received my master’s degree, I work as a Lecturer in information science and technology at Shenyang University of
    Technology from 2005 to 2019. I focused on giving courses such as C programming and Semiconductor devices. At the end of
    2019, I came to Canada. Then, I begin to study front-end design technologies. Then I worked as a junior front-end
    developer for InfoHold from Feb. 2021 to Aug. 2021. I enrolled in Computer Systems Technology: Information Systems
    Engineering of Sheridan in Sep. 2021. From Apr. 2022, I worked as a web designer to build websites for a cancer
    awareness & prevention organization.
</p>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>