
<html>

<%- include('./partials/header') %>

<body>
    <%- include('./partials/nav')%>
    <h1>oops</b></h>
        <p>Do not have this page</p>

    <!-- <%- include('./partials/footer')%> -->
</body>

</html>