
<html>

<%- include('./partials/header') %>

<body>
    <%- include('./partials/nav') %>
    <div class="content">
        
        <h1>Welcome to my about page!</h1>
        <br /><br />
        <p>This is my little <i>cute</i> <strong>cat</strong>. She is born on April 6<sup>th</sup>, 2021.
                She like to drink H<sub>2</sub>O. She can do math. For example, 2<sup>3</sup>=8.She is so smart.</p>

    </div>
    
    <!-- <%- include('./partials/footer')%> -->
</body>

</html>